---
import Layout from "../../layouts/Layout.astro";
import Difficulty from "../../components/Difficulty.astro"
import BlogNav from '../../components/Blog/BlogNav.astro'

const posts = await Astro.glob("../blog/*.md");

const beginnerPosts = posts.filter(item => item.frontmatter.level == 'beginner')
const intermediatePosts = posts.filter(item => item.frontmatter.level == 'intermediate')
const advancedPosts = posts.filter(item => item.frontmatter.level == 'advanced')

let active = '1'


---

<Layout title="Blog">
  <header class="main">
    <section class="hero-container">
      <!-- <div class="title-large margin-bottom-8">UX Unboxed</div>
      <div class="subtitle margin-top-16">
        Where Art and Technology Converge
      </div> -->
    </section>
  </header>

  <!-- create component for all posts -->
  <div class="blog-main">
    <div class="blog-list">
      
      <article class="difficulty">
        <BlogNav />
      </article>

      <article class="difficulty">
        <div class={`item item-blue ${active === '1' ? "blue-active" : ""}`} onclick="handleLevel(event, '1')">
          <p>BEGINNER</p>
        </div>
        <div class={`item item-yellow ${active === '2' ? "yellow-active" : ""}`} onclick="handleLevel(event, '2')">
          <p>INTERMEDIATE</p>
        </div>
        <div class={`item item-red ${active === '3' ? "red-active" : ""}`} onclick="handleLevel(event, '3')">
          <p>ADVANCED</p>
        </div>
      </article>
      <div id="beginner">
      {
        beginnerPosts.map((post) => (
          <article>
            <div class="blog-summary-options">
              <a href={post.frontmatter.url}>
                {post.frontmatter.image && (
                  <img
                    src={post.frontmatter.image}
                    alt={post.frontmatter.title}
                    class="blog-img"
                  />
                  <img
                    src={post.frontmatter.hoverImage}
                    alt={post.frontmatter.title}
                    class="blog-hover-img"
                  />
                )}
                <div class="blog-details">
                  <h2 class="blog-title">{post.frontmatter.title}</h2>
                  <p class="blog-summary">{post.frontmatter.description}</p>
                </div>
              </a>
            </div>
          </article>
        ))
      }
      </div>
      <div id="intermediate">
        {
          intermediatePosts.map((post) => (
            <article>
              <div class="blog-summary-options">
                <a href={post.frontmatter.url}>
                  {post.frontmatter.image && (
                    <img
                      src={post.frontmatter.image}
                      alt={post.frontmatter.title}
                      class="blog-img"
                    />
                    <img
                      src={post.frontmatter.hoverImage}
                      alt={post.frontmatter.title}
                      class="blog-hover-img"
                    />
                  )}
                  <div class="blog-details">
                    <h2 class="blog-title">{post.frontmatter.title}</h2>
                    <p class="blog-summary">{post.frontmatter.description}</p>
                  </div>
                </a>
              </div>
            </article>
          ))
        }
        </div>
        <div id="advanced">
          {
            advancedPosts.map((post) => (
              <article>
                <div class="blog-summary-options">
                  <a href={post.frontmatter.url}>
                    {post.frontmatter.image && (
                      <img
                        src={post.frontmatter.image}
                        alt={post.frontmatter.title}
                        class="blog-img"
                      />
                      <img
                        src={post.frontmatter.hoverImage}
                        alt={post.frontmatter.title}
                        class="blog-hover-img"
                      />
                    )}
                    <div class="blog-details">
                      <h2 class="blog-title">{post.frontmatter.title}</h2>
                      <p class="blog-summary">{post.frontmatter.description}</p>
                    </div>
                  </a>
                </div>
              </article>
            ))
          }
        </div>
    </div>
    <div class="blog-content">
      <video class="blog-video" width="300" controls></video>
    </div>
  </div>
</Layout>

<script type="text/javascript">
  function handleLevel(event, id) {
    $('#beginner').hide();
    $('#intermediate').hide();
    $('#advanced').hide();
    if(id === '1') {
      $('#beginner').show();
    }
    if(id === '2') {
      $('#intermediate').show();
    }
    if(id === '3') {
      $('#advanced').show();
    }
  }
</script>
<style>
  main {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  .blog-main {
    display: flex;
  }
  .blog-list {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(9, 1fr);
  }
  .blog-title {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    text-align: left;
    text-transform: uppercase;
    color: #ffffff;
  }

  .blog-details {
    justify-content: center;
  }

  .blog-summary-options {
    grid-column: 1 /13;
    padding: 0px;
    gap: 24px;
    width: 100%;
    height: 100%;
    border-color: transparent;
    border-style: solid;
    border-width: 2px 6px 2px 14px;
    backdrop-filter: blur(42px);    
    background: radial-gradient(50% 50% at 50% 50%, #2b2c32 0%, #2b2c32 100%);
  }

  .blog-summary-options:focus,
  .blog-summary-options:hover {
    border-image: linear-gradient(to Right,#0080FF, #0080FFaa) 30;
    border-width: 2px 6px 2px 14px;
    border-style: solid;
  }

  .blog-image {
    width: 115px;
    height: 115px;
    background: url(/imgs/blog-icon.png);
  }

  .blog-summary {
    color: white;
    font-size: 18px;
    text-align: left;
    line-height: 26px;
  }

  a {
    display: flex;
    padding: 16px;
    gap: 24px;
  }

  .blog-video {
    height: 80vh;
  }
  /* Style for logo image change in blog */
  .blog-hover-img {
    display: none;
  }
  .blog-summary-options:focus,
  .blog-summary-options:hover .blog-hover-img {
    display: block;
  }
  .blog-summary-options:focus,
  .blog-summary-options:hover .blog-img {
    display: none;
  }
  .difficulty {
    display: flex;
  }

  /* difficulty */
  .item p{
    font-size: 16px !important;
  }
  /* Beginner item */
  .item-blue {
    margin: 2px 8px 2px 0px;
    padding: 0px 8px !important;
    border-image: linear-gradient(to Right,#0080FF54, #0080FF54) 1;
    border-width: 2px 6px 2px 12px;
    border-style: solid;
    cursor: pointer;
  }

  .blue-active {
    border-image: linear-gradient(to Right,#0080FF, #0080FF) 1;
  }

  .item-blue:focus, .item-blue:hover {
    border-image: linear-gradient(to Right,#0080FF, #0080FF) 1;
  }

  /* Intermediate Item */
  .item-yellow {
    margin: 2px 8px;
    padding: 0px 8px !important;
    border-image: linear-gradient(to Right,#FFEE0054, #FFEE0054) 1;
    border-width: 2px 4px;
    border-style: solid;
    cursor: pointer;
  }

  .yellow-active {
    border-image: linear-gradient(to Right,#FFEE00, #FFEE00) 1;
  }

  .item-yellow:focus, .item-yellow:hover {
    border-image: linear-gradient(to Right,#FFEE00, #FFEE00) 1;
  }

  /* Advanced Item */
  .item-red {
    margin: 2px 8px;
    padding: 0px 8px !important;
    border-image: linear-gradient(to Right,#CE1C2D54, #CE1C2D54) 1;
    border-width: 2px 12px 2px 6px;
    border-style: solid;
    cursor: pointer;
  }

  .red-active {
    border-image: linear-gradient(to Right,#CE1C2D, #CE1C2D) 1;
  }

  .item-red:focus, .item-red:hover {
    border-image: linear-gradient(to Right,#CE1C2D, #CE1C2D) 1;
  }
  .active {
    background: red;
  }

  #intermediate, #advanced {
    display: none;
  }
</style>